.main {
  display: flex;
  flex-direction: column;

  margin: 20px;
  padding: 20px;
}

.header {
  text-align: center;
}

.control {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50vh;
}

.cornCard {
  background-color: gold;
  width: 300px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
