:root {
  --brown: #43281C;
  --yellow1: #F4D35E;
  --yellow2: #fff9c7;
  --yellow3: #f7ef02;
}

body {
  background-color: var(--yellow2);
}

.main {
  display: flex;
  flex-direction: column;

  margin: 20px;
  padding: 20px;
}

.header {
  text-align: center;
}

.control {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50vh;
}

.cornCard {
  background-image: url('./../img/corncob.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-left: 60px;
}

.cornCard p {
  padding: 0;
  margin: 0px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
